<ion-header style="background: black">
  <ion-navbar color="uno">
     <ion-title>
        LISTA DE DILIGENCIAS
     </ion-title>
     <ion-buttons start> 
     <button ion-button style="background-color: rgb(112, 33, 33)">   <ion-icon name="warning"></ion-icon>  <a href="tel:066"></a></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: linear-gradient(to bottom, #1a1a1a 0%, rgba(22, 22, 22, 0.5) 75%, #0e0e0e 100%);">

  <ion-refresher style="background: white" *ngIf="user.activo()"  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content color="white"
      pullingIcon="arrow-round-up"
      pullingText="SUELTA PARA REFRESCAR"
      refreshingSpinner="ios-small"
      refreshingText="REFRESCANDO">
    </ion-refresher-content>
  </ion-refresher>



<ion-list >
  <span *ngIf="carga" id="load"> Cargando diligencias por favor espere... </span>
  <span *ngIf="error" id="error"> Error</span>
<div *ngFor="let item of items" (click)="viewEntry({record:item})">
  <ion-card text-wrap>
    <ion-item >
        <ion-icon ios="ios-folder-open-outline" md="md-folder-open" item-start large></ion-icon>
        <h2><strong>{{item.id_expediente}} / {{item.anio}}</strong></h2>
          <p>{{item.direccion}}</p>

          <ion-badge item-end *ngIf="item.status=='Citatorio'" color='danger'>{{item.status}}</ion-badge>
          <ion-badge item-end *ngIf="item.status!='Citatorio'" color='primary'>{{item.status}}</ion-badge>
        </ion-item>
      </ion-card>
    </div>

</ion-list>
</ion-content>

